.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
}

.content__title {
  margin: 0;
  font-family: "YesevaOne", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #202020;
}