.nav__wrap {
  position: relative;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.1px;
  color: #F5F5F5;
}

.humburger {
  display: none;
  width: 24px;
  height: 16px;
  background-image: url("../../img/mobile-menu.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.hamburger--open {
  background-image: url("../../img/icon-close.svg");
}

@media (max-width: 1023px) {
  .humburger {
    display: block;
  }

  .nav {
    position: absolute;
    right: 35px;
    top: 20px;
    display: none;
  }

  .nav--open {
    display: flex;
  }

  .nav__list {
    padding: 10px 10px 0 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #F5F5F5;
    flex-direction: column;
    width: 150px;
  }

  .nav__item {
    margin-bottom: 25px;
  }

  .nav__item a {
    color: #202020;
    font-size: 16px;
    line-height: 16px;
  }
}