@font-face {
  font-family: "Helvetica";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: 
    url("./fonts/Helvetica/Helvetica-Regular.woff") format("woff"),
    url("./fonts/Helvetica/Helvetica-Regular.otf") format("otf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("./fonts/Helvetica/9204.woff") format("woff"), 
    url("./fonts/Helvetica/9204.otf") format("otf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("./fonts/Helvetica/9206.woff") format("woff"),  
    url("./fonts/Helvetica/9206.otf") format("otf");
}

@font-face {
  font-family: "YesevaOne";
  font-style: normal;
  font-display: swap;
  src:
    url("./fonts/Yeseva-one/YesevaOne-Regular.woff") format("woff"), 
    url("./fonts/Yeseva-one/YesevaOne-Regular.ttf") format("ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}